* {
    margin: 0;
    padding: 0;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(250, 247, 247, 0.993);
    justify-content: center;
    grid-template-areas:
        "nav nav"
        "main main"
        "footer footer"
    ;
    color: rgb(10, 10, 10);
}

.nav {
    grid-area: nav;

    .nav {
        grid-area: nav;
        height: 80px;
        position: relative;
        box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.384);
        background-color: rgba(247, 239, 239, 0.692);
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0 20px;
        /* margin-left: 15.5em; */
    }

    .nav button,
    .nav a {
        color: #272525;
        background-color: transparent;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        cursor: pointer;
    }

    .nav>button:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }


}

.main {
    grid-area: main;
    width: 100%;
    height: auto;
    position: absolute;
    top: 10em;

}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(auto-fill, 100px);
    gap: 30px;
    justify-content: space-evenly;
    margin-left: 3em;
    grid-template-areas:
        "area1  area2   area9   area14   area18"
        ".      .       .       .       ."
        "area3  area4   area10   area15   area19"
        ".      .       .       .       ."
        "area5  area6   area11   area16   area20"
        ".      .       .       .       ."
        "area7  area8   area13   area17   area21"
    ;
}

.card0 {
    grid-area: area1;
    display: flex;
    padding: 20px;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(67, 19, 238);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card2 {
    grid-area: area2;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card3 {
    grid-area: area3;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card4 {
    grid-area: area4;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card5 {
    grid-area: area5;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card6 {
    grid-area: area6;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card7 {
    grid-area: area7;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card8 {
    grid-area: area8;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card9 {
    grid-area: area9;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card10 {
    grid-area: area10;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card11 {
    grid-area: area11;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card12 {
    grid-area: area12;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card13 {
    grid-area: area13;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card14 {
    grid-area: area14;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card15 {
    grid-area: area15;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card16 {
    grid-area: area16;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card17 {
    grid-area: area17;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card18 {
    grid-area: area18;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card19 {
    grid-area: area19;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card20 {
    grid-area: area20;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 20%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card21 {
    grid-area: area21;
    background-color: rgb(67, 19, 238);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: rgb(67, 19, 238);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    max-width: 100%;
    height: auto;
    border: #272525 1px solid;
    margin-bottom: 10px;
}

.card img {
    object-fit: cover;
    height: 100px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #eee;
}

/* 
img {
    width: 100%;
    height: auto;
    display: block;
    border: #272525 1px solid;
    outline: #272525 1px solid;
} */


.footer {
    grid-area: footer;
    height: 100px;
    background-color: rgba(46, 25, 25, 0.692);
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cards per row */
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
        /* 1 card per row */
    }
}